.home {
  justify-content: center;
  text-align: center;
  min-width: 100vw;
  height: 60rem;
  position: relative;
  top: -13rem;
 
}
.home >img{
  width: 100%;
  height: 60rem;
}
div > .intro{
  position: absolute;
  left: 5%;
  top: 22rem;
  height: fit-content;
}
div > .intro >button{
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 0px;
  border: none;
  border-radius: 30px;
  
} 
div > .intro >button>a{
  font-weight: 600;
  margin: 0px;
  padding: 10px  3rem;
  font-size: 30px;
  color: white;
  border-radius: 30px;
  border: 3px solid rgb(255, 255, 255);
}
div > .intro >button>a:hover {
  
  animation: btnAnimation 1s;
  animation-fill-mode: both;
}

@keyframes btnAnimation {
  from {left: 0px;}
  to {left: 0px; background-color: rgb(0, 0, 0); color: white;}
}

@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  
  body {
    font-family: 'Rocher';
    text-align: center;
    font-size: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    /* align-items: center;
    justify-content: center; */
  }
  
  h1 {
    
    opacity: 2;
    width: fit-content;
    margin-right: 10px;
  }
  
  @font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
  }
  
  @font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
  }
  
  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }
  
  .grays {
    font-palette: --Grays;
  }
  
  .purples {
    font-palette: --Purples;
  }
  
  .mint {
    font-palette: --Mint;
  }
  