.service{
    padding: 0px;
    margin: 0px;
    min-height: max-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.service > h1{
    text-align: justify;
    margin: 0px 3rem;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.service > .Projects{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 50px;
    justify-content: space-evenly;
    gap: 100px 10rem;
}
.service > .Projects>.project{
    width: 400px;
    box-shadow: 10px 20px 30px 30px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    /* padding:10px; */
    color: rgb(48, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    
    transition: transform 0.5s; 
}
.service > .Projects>.project:hover{
   transform: scale(1.09);
   animation: btnAnimation 1s;
   animation-fill-mode:both
 }
 
 @keyframes btnAnimation {
   from {left: 0px;}
   to {left: 0px; background-color: rgb(66, 66, 66); color: white;}
 }

.service > .Projects>.project>img{
    border-radius: 50px;
    max-width: 100%;
    height: 500px;
    border-radius: 50px 50px 0px 0px;
}
.card_body{
    margin: 10px;
}
.service p ,li,a{
    font-size: 20px;

}