.about{
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -20rem;
    background-color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about > h1{
    text-align: justify;
    margin: 0px 3rem;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.about>.field{
    max-width: fit-content;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
} 
.about >.field>.textfield{
    background-color: black;
    color: white;
    border-radius: 50px;
    text-align: center;
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.about >.field>.textfield>p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90%;
    letter-spacing: 2px;
    line-height: 1.5;
    width: 83%;
    text-align: center;
    margin: auto;
    margin-right: 15%;
}
.about >.field>.textfield>img{
    border-radius:55rem;
    width: 300px;
    margin: auto ;
}
.about >.field>img{
    border-radius: 50px;
    width: 40%;
    margin-left: -10%;
}
@media only screen and (max-width: 1250px) {
    .about>.field{
        flex-direction: column;
       
        min-width: 100%;
        margin: 0%;
    }
    .about >.field>img{
        background-color: black;
        color: white;
        border-radius: 50px;
        text-align: center;
        width: 95%;
        justify-self: center;
        margin: auto;
        margin-top: -20%;
        min-height: 30rem;
    }
    .about >.field>.textfield{
        width: 95%;
        padding-bottom: 30%;
        flex-wrap: wrap;
    }
    .about >.field>.textfield>img{
        margin:auto;
        margin-top: 30px;
    }
    .about >.field>.textfield>p{
        width: 95%;
        margin:  auto;
    }
}